.banner-a {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    display: block;
    background-color: black;
    margin-top: 20px;
    padding: 10px;
}

.banner-title-div {
    font-size: 50px;
    color: white;
}

.article-content-div {
    font-size: 18px;
}

.article-desc-div {
    font-size: 22px;
}