body {
  background-color: #151515;
}

.content-div {
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  margin-top: 20px;
  background-color: black;
  display: block;
}

@view-transition * {
  navigation: auto;
}

.nav-a {
  color: rgb(255, 46, 46);
  text-decoration: none;
}

img {
  align-self: center;
  display: block;
  margin: auto;
}

a {
  color: rgb(255, 46, 46);
}